<table>
	<th>Please Update Your Profile...</th>
	
	<%= form_for :edit, :url=> {:action=>'update',:id=>@edit} do |i| %>

						 

	    <tr> <td>Name:</td><td><%= i.text_field :name %> </td></tr>
		<tr>  <td>Age:</td><td><%= i.text_field :age %> </td></tr>
		<tr>  <td>Account Number:</td><td><%= i.text_field :account_no %> </td></tr>

		<tr>  <td>Choose ur account type:</td><td><%= i.radio_button(:account_type, "saving") %>
			<%= i.label("saving account") %>
			<%= i.radio_button(:account_type, "joint") %>
			<%= i.label("joint account") %></td></tr>
		
		<tr>  <td>Amount</td><td><%= i.text_field :ammount %> </td></tr>
		<tr>  <td>Sex:</td><td>
			<%= i.radio_button(:sex, "Male") %>
			<%= i.label("Male") %>
			<%= i.radio_button(:sex, "Female") %>
			<%= i.label("Female") %></td></tr>
		<tr>  <td>  
			<%= i.select :status,[['Select Status',''],['Single','single'],['Married','married']]%></td></tr>
			<tr><td> <%= i.label :dob %><br /></td><td>
    <%= i.datepicker :dob , changeMonth: true,
      changeYear: true,yearRange: "1900:2500",showAnim: "slide" %></td></tr>
		

		
		 <td><%= i.submit'update' %> </td>
	 <% end %>
</table>
