<table   bgcolor="white">
	

<tr height=70>
	<td width=600></td><td><%= image_tag("images.jpeg",:alt=>"Bank")%></td><td width=600></td>
</tr>
</table>

<table >
	<tr align="top">
	<td bgcolor="red" height=700><%= image_tag("images.jpeg",:alt=>"Bank")%></td>
	

	<td align='bottom',width=80><button style="background-color:blue;"><%=link_to 'home',:action=>'home',:controller=>'cstmr' %></button></td>
	<td width=80><%=link_to 'Customers',:action=>'show',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'New',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Register',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Member',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Contact us',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'About',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Branch',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Scheme',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'Offer',:action=>'index',:controller=>'cstmr' %></td>
	<td width=80><%=link_to 'sas',:action=>'index',:controller=>'cstmr' %></td>


	
	<td bgcolor="red" height=700><%= image_tag("images.jpeg",:alt=>"Bank")%></td>
	</tr>
</table>